#nprogress .bar {
  height: 5px;
  background-color: rgb(59, 50, 50);
}
.m-1 {
  margin: 1rem;
}
.my-1 {
  margin: 1rem 0;
}
.p-1 {
  padding: 1rem;
}
.py-1 {
  padding: 1rem 0;
}
.m-2 {
  margin: 2rem;
}
.my-2 {
  margin: 2rem 0;
}
.p-2 {
  padding: 2rem;
}
.py-2 {
  padding: 2rem 0;
}
.m-3 {
  margin: 3rem;
}
.my-3 {
  margin: 3rem 0;
}
.p-3 {
  padding: 3rem;
}
.py-3 {
  padding: 3rem 0;
}
.m-4 {
  margin: 4rem;
}
.my-4 {
  margin: 4rem 0;
}
.p-4 {
  padding: 4rem;
}
.py-4 {
  padding: 4rem 0;
}
.m-5 {
  margin: 5rem;
}
.my-5 {
  margin: 5rem 0;
}
.p-5 {
  padding: 5rem;
}
.py-5 {
  padding: 5rem 0;
}
.container {
  max-width: 1100px;
  overflow-wrap: normal;
  margin: auto;
  padding: 0 2rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
}
.x-large {
  font-size: 4rem;
  line-height: 1.2rem;
  margin-bottom: 1rem;
}
.large {
  font-size: 3rem;
  line-height: 1.2rem;
  margin-bottom: 1rem;
}
.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.small {
  font-size: 1.8rem;
}
.extra-small {
  font-size: 0.8rem;
}
.text-primary {
  color: #00cdbb;
}
.text-dark {
  color: #0f1317;
}
.text-light-gray {
  color: #cfcfcf;
}
.round-image {
  border-radius: 50%;
}
.line {
  height: 1px;
  background: #ccc;
  margin: 1.5rem 0;
}
/* new added css */

.study-home-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 19rem;
  border-radius: 0.6rem;
  border: 1px solid #00cdbb;
}
.study-home-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.input-box {
  border-radius: 0.3rem;
  border: 1px solid #00cdbb;
  padding: ' 0 0.8rem';
}
.hr-1 {
  border: 0.3px solid #00cdbb;
}
/* Profiles Page */
.selectable {
  user-select: text;
}
.bg-primary {
  background-color: #00cdbb;
  color: #fff;
}
.bg-light {
  background-color: #fff;
  color: #0f1317;
  border: #ccc 1px solid;
}
.bg-dark {
  background-color: #0f1317;
  color: #fff;
}
.bg-success {
  background-color: #00a79a;
  color: #fff;
}
.bg-white {
  background-color: #fff;
  color: #0f1317;
  border: #ccc 1px solid;
}
.bg-danger {
  background-color: #e64444;
  color: #0f1317;
}
.btn {
  display: inline-block;
  background: #fff;
  color: #333;
  padding: 0.4rem 1.3rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  margin-right: 0.5rem;
  outline: none;
  transition: all 0.2s ease-in;
}
.btn.btn-primary {
  background-color: #00cdbb;
  color: #fff;
}
.btn.btn-primary:hover {
  background: #00e7d2;
}
.btn.btn-dark {
  background-color: #0f1317;
  color: #fff;
}
.btn.btn-dark:hover {
  background: #192026;
}
.btn.btn-light {
  background-color: #fff;
  color: #0f1317;
}
.btn.btn-light:hover {
  background: #fff;
}
.btn.btn-success {
  background-color: #00a79a;
  color: #fff;
}
.btn.btn-success:hover {
  background: #00c1b2;
}
.btn.btn-danger {
  background-color: #e64444;
  color: #0f1317;
}
.btn.btn-danger:hover {
  background: #e95a5a;
}
.btn:hover {
  background: #374655;
  color: #fff;
}

.badge {
  font-size: 0.8rem;
  padding: 0.1rem;
  text-align: center;
  margin: 0.3rem;
  background: #fff;
  color: #333;
}
.badge.badge-primary {
  background-color: #00cdbb;
  color: #fff;
}
.badge.badge-dark {
  background-color: #0f1317;
  color: #fff;
}
.badge.badge-success {
  background-color: #00a79a;
  color: #fff;
}
.badge.badge-danger {
  background-color: #e64444;
  color: #0f1317;
}
.text-gray {
  color: #a6aa9c;
}
.text-success {
  color: #0d7e83;
}
.text-danger {
  color: #e64444;
}
.landing-subhead {
  text-align: center;
}
.form-group {
  margin: 1.2rem 0;
}
.form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}
.form input[type='text'],
.form input[type='email'],
.form input[type='password'],
.form input[type='text'],
.form input[type='date'],
.form select,
.form text-area {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  line-height: auto;
  background-color: #fff;
  color: #333;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #00cdbb;
  line-height: auto;
}
img {
  width: 100%;
}
.mat-special {
  display: none;
}
.profile-top {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
}
.position-top {
  display: grid;
  grid-template-columns: 2fr 6fr;
}
.profile-grad {
  padding-bottom: 0.5rem;
  border-radius: 0.8rem;
  background: linear-gradient(#00cdbb, #00a79a);
}
.new-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.admit-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5rem;
}
.skills {
  display: flex;
  flex-direction: row;
  border-radius: 0.8rem;
  background: linear-gradient(#00cdbb, #00a79a);
}
.edu-exp {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5rem;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem, 2rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 5rem;
  top: 0;
  border-bottom: solid 1px #00cdbb;
  opacity: 0.9;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;

  box-shadow: 0 0.6px 2.5px rgba(0, 0, 0, 0.017),
    0 1.4px 5.6px rgba(0, 0, 0, 0.024), 0 2.4px 9.8px rgba(0, 0, 0, 0.03),
    0 3.8px 15.5px rgba(0, 0, 0, 0.035), 0 5.8px 24px rgba(0, 0, 0, 0.04),
    0 9px 37.4px rgba(0, 0, 0, 0.046), 0 15px 62.1px rgba(0, 0, 0, 0.053),
    0 30px 124px rgba(0, 0, 0, 0.07);
}
.hamburger {
  display: none;
}

.navbar .toggle {
  display: none;
}
.navbar ul {
  display: flex;
}
.navbar a {
  color: #fff;
  padding: 0.45rem;
  margin: 0 0.25rem;
}
.navbar a:hover {
  color: #00cdbb;
}
/* start drop */
.dropdown {
  position: relative;
  display: inline-block;
}
.new-job-card {
  display: grid;
  grid-template-columns: 10fr 2fr;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 0.5rem;
}
.dropdown-content a {
  color: black;
  font-weight: 600;
  padding: 12px 16px;
  margin: 0.3rem;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a:hover {
  background-color: #ddd;
}

/* end drop */
.mat-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 1rem;
  max-width: 1200px;
  overflow-wrap: normal;
  margin: auto;
  margin-top: 6rem;
  overflow-wrap: normal;
}
.main-mat {
  border-radius: 1rem;
  line-height: 1.8rem;
}
.mat-author {
  box-shadow: 0 0.6px 2.5px rgba(0, 0, 0, 0.017),
    0 1.4px 5.6px rgba(0, 0, 0, 0.024), 0 2.4px 9.8px rgba(0, 0, 0, 0.03),
    0 3.8px 15.5px rgba(0, 0, 0, 0.035), 0 5.8px 24px rgba(0, 0, 0, 0.04),
    0 9px 37.4px rgba(80, 32, 32, 0.046), 0 15px 62.1px rgba(0, 0, 0, 0.053),
    0 30px 124px rgba(0, 0, 0, 0.07);
  border-radius: 1rem;
  border: solid 1px #00e7d2;
  position: sticky;
  top: 6rem;
  max-height: 550px;
}
.new-pdf {
  display: grid;
  grid-template-columns: 4fr 2fr;
}
.landing {
  background: linear-gradient(#bcffb9, #f5fdb0, #f7e6ad) no-repeat center
    center/cover;
  height: 100vh;
  width: 100%;
  padding-top: 7rem;
}
.section-two {
  display: block;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}

.services {
  display: grid;
  grid-template-columns: 1fr;
  border-radius: 0.8rem;
  max-width: 1200px;
  margin: auto;
  box-shadow: 0 0.6px 2.5px rgba(0, 0, 0, 0.017),
    0 1.4px 5.6px rgba(0, 0, 0, 0.024), 0 2.4px 9.8px rgba(0, 0, 0, 0.03),
    0 3.8px 15.5px rgba(0, 0, 0, 0.035), 0 5.8px 24px rgba(0, 0, 0, 0.04),
    0 9px 37.4px rgba(80, 32, 32, 0.046), 0 15px 62.1px rgba(0, 0, 0, 0.053),
    0 30px 124px rgba(0, 0, 0, 0.07);
}
.service-item {
  display: grid;
  grid-template-columns: 1fr 4fr;
  text-align: left;
}
.service-item-1 {
  display: grid;
  grid-template-columns: 4fr 1fr;
  text-align: left;
}
.big-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1300px;
  margin-left: 2rem;
  margin-right: 2rem;
  margin: auto;
  height: 95%;
  box-shadow: 0 0.6px 2.5px rgba(0, 0, 0, 0.017),
    0 1.4px 5.6px rgba(0, 0, 0, 0.024), 0 2.4px 9.8px rgba(0, 0, 0, 0.03),
    0 3.8px 15.5px rgba(0, 0, 0, 0.035), 0 5.8px 24px rgba(0, 0, 0, 0.04),
    0 9px 37.4px rgba(0, 0, 0, 0.046), 0 15px 62.1px rgba(0, 0, 0, 0.053),
    0 30px 124px rgba(0, 0, 0, 0.07);
  border-radius: 1rem;
}
.second {
  display: grid;
  grid-template-rows: 10fr, 2fr;
  background: linear-gradient(#00cdbb, #00a79a) no-repeat center center/cover;
  height: 70vh;
  align-items: center;
  align-content: center;
  justify-content: center;
  grid-gap: 4rem;
  border-radius: 1rem;
}
.second a {
  border-radius: 2rem;
  color: #0f1317;
}
.second .fst ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.card-item {
  width: 300px;
  box-shadow: 0 0.6px 2.5px rgba(0, 0, 0, 0.017),
    0 1.4px 5.6px rgba(0, 0, 0, 0.024), 0 2.4px 9.8px rgba(0, 0, 0, 0.03),
    0 3.8px 15.5px rgba(0, 0, 0, 0.035), 0 5.8px 24px rgba(0, 0, 0, 0.04),
    0 9px 37.4px rgba(80, 32, 32, 0.046), 0 15px 62.1px rgba(0, 0, 0, 0.053),
    0 30px 124px rgba(0, 0, 0, 0.07);
  border-radius: 2rem;
  min-width: 300px;
}
.home-card {
  width: 15vw;
  height: 36vh;
  border-radius: 0.8rem;
  box-shadow: 0 0.6px 2.5px rgba(0, 0, 0, 0.017),
    0 1.4px 5.6px rgba(0, 0, 0, 0.024), 0 2.4px 9.8px rgba(0, 0, 0, 0.03),
    0 3.8px 15.5px rgba(0, 0, 0, 0.035), 0 5.8px 24px rgba(0, 0, 0, 0.04),
    0 9px 37.4px rgba(0, 0, 0, 0.046), 0 15px 62.1px rgba(0, 0, 0, 0.053),
    0 30px 124px rgba(0, 0, 0, 0.07);
}
.job-home-img {
  border-radius: 0.8rem;
  width: 14.7vw;
  height: 8.5rem;
}
.home-card .card-heading {
  height: 80px;
  overflow: hidden;
}
.home-font {
  font-size: 1rem;
}
.catagories {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
.bottom-nav {
  display: none;
}
.job {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0.6px 2.5px rgba(0, 0, 0, 0.017),
    0 1.4px 5.6px rgba(0, 0, 0, 0.024), 0 2.4px 9.8px rgba(0, 0, 0, 0.03),
    0 3.8px 15.5px rgba(0, 0, 0, 0.035), 0 5.8px 24px rgba(0, 0, 0, 0.04),
    0 9px 37.4px rgba(0, 0, 0, 0.046), 0 15px 62.1px rgba(0, 0, 0, 0.053),
    0 30px 124px rgba(0, 0, 0, 0.07);
}
.job .line {
  margin: 0rem 1rem;
}
.job-top {
  display: grid;
  grid-template-columns: 1fr 8fr 3fr;
}
.job-top h2 {
  padding: 0.8rem;
}
.job-top img {
  width: 50px;
  height: 50px;
}
.job-bottom {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.job-bottom .job-table {
  display: grid;
  grid-template-columns: 0.1fr 5fr 9fr;
  grid-gap: 1rem;
}
.job-bottom .job-buttons {
  text-align: center;
  justify-content: center;
}
.job-bottom .job-buttons .nbtn1 {
  text-align: center;
  justify-content: center;
}
.job-content {
  line-height: 2rem;
}
.job-content h3 {
  color: #00a79a;
  font-size: 1.4rem;
}
.job-content ul {
  list-style: disc;
  padding-left: 0.5rem;
  margin: 1rem;
}
.profile-img {
  width: 70px;
  height: 70px;
  padding: 0.4rem;
}
.profile-img-border {
  width: 70px;
  height: 70px;
  border: solid #00e7d2;
  align-items: center;
}
.slate-img img {
  border-radius: 0.6rem;
  max-height: 500px;
}
.slate-img {
  margin: 1rem 0;
}
.slate-table {
  border-collapse: separate;
  border-spacing: 0rem;
  border: solid #00e7d2 1px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  width: 100%;
}

.slate-td {
  border-left: solid #00e7d2 1px;
  border-top: solid #00e7d2 1px;
}

.slate-td:first-child {
  border-left: none;
}
.blog {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-gap: 2rem;
  align-items: center;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0.6px 2.5px rgba(0, 0, 0, 0.017),
    0 1.4px 5.6px rgba(0, 0, 0, 0.024), 0 2.4px 9.8px rgba(0, 0, 0, 0.03),
    0 3.8px 15.5px rgba(0, 0, 0, 0.035), 0 5.8px 24px rgba(0, 0, 0, 0.04),
    0 9px 37.4px rgba(0, 0, 0, 0.046), 0 15px 62.1px rgba(0, 0, 0, 0.053),
    0 30px 124px rgba(0, 0, 0, 0.07);
}
.blog ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.blog ul li {
  margin: 0 10px;
}
.blog-top {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.blog-top p {
  margin-right: 6rem;
}
.blog-top div {
  display: grid;
  grid-template-rows: 2fr 1fr;
}
.blog-top div div {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}
.blog-top div a:hover {
  color: #0f1317;
}
.textinput {
  width: 80%;
  resize: none;
}
.blog-body {
  display: grid;
  grid-auto-flow: row;
}
.eduBlog h3 {
  font-size: 1.4rem;
}
.eduBlog h2 {
  font-size: 1.5rem;
}
.eduBlog ul {
  list-style: disc;
  padding-left: 0.5rem;
  margin: 1rem;
}
.nbtn {
  border-radius: 2rem;
}
.bodi-item {
  display: grid;
  grid-template-columns: 4fr 8fr;
  align-items: center;
  padding: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  border-radius: 1rem;
  box-shadow: 0 0.6px 2.5px rgba(0, 0, 0, 0.017),
    0 1.4px 5.6px rgba(0, 0, 0, 0.024), 0 2.4px 9.8px rgba(0, 0, 0, 0.03),
    0 3.8px 15.5px rgba(0, 0, 0, 0.035), 0 5.8px 24px rgba(0, 0, 0, 0.04),
    0 9px 37.4px rgba(0, 0, 0, 0.046), 0 15px 62.1px rgba(0, 0, 0, 0.053),
    0 30px 124px rgba(0, 0, 0, 0.07);
}
.bodi-item img {
  width: 120px;
}
.bodi {
  max-width: 1300px;
  overflow-wrap: normal;
  margin: auto;
  padding: 0 2rem;
  margin-top: 4rem;
  margin-bottom: 3rem;
}
.account {
  display: grid;
  grid-template-columns: 8fr 4fr;
  grid-gap: 1rem;
  align-items: center;
  padding: 1rem;
  width: 100%;
  border-radius: 1rem;
  box-shadow: 0 0.6px 2.5px rgba(0, 0, 0, 0.017),
    0 1.4px 5.6px rgba(0, 0, 0, 0.024), 0 2.4px 9.8px rgba(0, 0, 0, 0.03),
    0 3.8px 15.5px rgba(0, 0, 0, 0.035), 0 5.8px 24px rgba(0, 0, 0, 0.04),
    0 9px 37.4px rgba(0, 0, 0, 0.046), 0 15px 62.1px rgba(0, 0, 0, 0.053),
    0 30px 124px rgba(0, 0, 0, 0.07);
}

.share {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.avatar-upload {
  position: relative;
  max-width: 205px;
  margin: 50px auto;
}
.avatar-preview {
  width: 192px;
  height: 192px;
  position: relative;
  border-radius: 100%;
  border: 6px solid #f8f8f8;
  box-shadow: 0 0.6px 2.5px rgba(0, 0, 0, 0.017),
    0 1.4px 5.6px rgba(0, 0, 0, 0.024), 0 2.4px 9.8px rgba(0, 0, 0, 0.03),
    0 3.8px 15.5px rgba(0, 0, 0, 0.035), 0 5.8px 24px rgba(0, 0, 0, 0.04),
    0 9px 37.4px rgba(0, 0, 0, 0.046), 0 15px 62.1px rgba(0, 0, 0, 0.053),
    0 30px 124px rgba(0, 0, 0, 0.07);
}
.avatar-preview > img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.cmnt-body {
  display: flex;
  flex-direction: row;
  text-align: justify;
  justify-content: center;
  border-radius: 2rem;
}
.header {
  text-align: justify;
}
.card {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#00a79a),
    to(#00cdbb)
  );
  box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.25),
    inset -2px -2px -2px rgba(0, 0, 0, 0.25);
}
::-webkit-scrollbar-track {
  background: linear-gradient(
    to right,
    #201c29,
    #201c29 1px #100e17 1px,
    #100e17
  );
}

.img-slider {
  height: 250px;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}
.author {
  display: flex;
  flex-direction: row;
}
.author img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.blogCreate {
  max-width: 1400px;
  overflow-wrap: normal;
  margin: auto;
  padding: 0 2rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
}
.createMain {
  display: grid;
  grid-template-columns: 6fr 3fr;
  grid-gap: 3rem;
}
.checkList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}
.checkList h3,
.checkList p {
  text-align: center;
}
.checkList ul {
  overflow-y: scroll;
  max-height: 200px;
}
.checkList ::-webkit-scrollbar {
  width: 15px;
}
.checkList ::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#00a79a),
    to(#00cdbb)
  );
  box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.25),
    inset -2px -2px -2px rgba(0, 0, 0, 0.25);
}
.checkList ::-webkit-scrollbar-track {
  background: linear-gradient(
    to right,
    #201c29,
    #201c29 1px #100e17 1px,
    #100e17
  );
}

.catagoriesAndTags {
  display: inline-block;
}
.user {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.user .user-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: linear-gradient(#00cdbb, #00a79a);
  border-radius: 1rem;
}
.user .user-top img {
  width: 250px;
  height: 250px;
  margin-bottom: 1rem;
}
.user-about {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.user-about .user-blog {
  border: solid #00cdbb;
  border-radius: 1rem;
}
.footer-container {
  width: 100%;
  margin-bottom: 0;
}
.footer-container li {
  padding-left: 0.5rem;
}
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 3rem;
}
.third-row a {
  display: flex;
  justify-content: space-around;
}
.third-row p {
  padding-left: 0.5rem;
}
.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.icons a {
  margin: 0 0.3rem;
  color: #fff;
}
.icons a:hover {
  color: #0f1317;
}
.job-read {
  border: solid #00a79a;
}
.job-read main {
  display: flex;
  justify-content: space-between;
}
.job-read .xyz {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.job-read .xyz div {
  display: flex;
  justify-content: space-around;
}
.job-read .xyz a {
  text-align: center;
  justify-content: center;
}
.unselectable {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  user-select: none;
}
.m-1 {
  margin: 1rem;
}
.my-1 {
  margin: 1rem 0;
}
.p-1 {
  padding: 1rem;
}
.py-1 {
  padding: 1rem 0;
}
.m-2 {
  margin: 2rem;
}
.my-2 {
  margin: 2rem 0;
}
.p-2 {
  padding: 2rem;
}
.py-2 {
  padding: 2rem 0;
}
.m-3 {
  margin: 3rem;
}
.my-3 {
  margin: 3rem 0;
}
.p-3 {
  padding: 3rem;
}
.py-3 {
  padding: 3rem 0;
}
.m-4 {
  margin: 4rem;
}
.my-4 {
  margin: 4rem 0;
}
.p-4 {
  padding: 4rem;
}
.py-4 {
  padding: 4rem 0;
}
.m-5 {
  margin: 5rem;
}
.my-5 {
  margin: 5rem 0;
}
.p-5 {
  padding: 5rem;
}
.py-5 {
  padding: 5rem 0;
}
.container {
  max-width: 1100px;
  overflow-wrap: normal;
  margin: auto;
  padding: 0 2rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
}
.x-large {
  font-size: 4rem;
  line-height: 1.2rem;
  margin-bottom: 1rem;
}
.large {
  font-size: 3rem;
  line-height: 1.2rem;
  margin-bottom: 1rem;
}
.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.small {
  font-size: 1.8rem;
}
.extra-small {
  font-size: 0.8rem;
}
.text-primary {
  color: #00cdbb;
}
.text-dark {
  color: #0f1317;
}
.text-light-gray {
  color: #cfcfcf;
}
.round-image {
  border-radius: 50%;
}
.line {
  height: 1px;
  background: #ccc;
  margin: 1.5rem 0;
}
.bg-primary {
  background-color: #00cdbb;
  color: #fff;
}
.bg-light {
  background-color: #fff;
  color: #0f1317;
  border: #ccc 1px solid;
}
.bg-dark {
  background-color: #0f1317;
  color: #fff;
}
.bg-success {
  background-color: #00a79a;
  color: #fff;
}
.bg-white {
  background-color: #fff;
  color: #0f1317;
  border: #ccc 1px solid;
}
.bg-danger {
  background-color: #e64444;
  color: #0f1317;
}
.btn {
  display: inline-block;
  background: #fff;
  color: #333;
  padding: 0.4rem 1.3rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  margin-right: 0.5rem;
  outline: none;
  transition: all 0.2s ease-in;
}
.btn-new {
  display: inline-block;
  background: #fff;
  color: #333;
  padding: 0.2rem 0.7rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  margin-right: 0.5rem;
  outline: none;
  transition: all 0.2s ease-in;
}
.btn-new.btn-success {
  background-color: #00a79a;

  color: #fff;
}
.btn-new.btn-dark {
  background-color: #0f1317;
  color: #fff;
}
.btn.btn-primary {
  background-color: #00cdbb;

  color: #fff;
}
.btn.btn-primary:hover {
  background: #00e7d2;
}
.btn.btn-dark {
  background-color: #0f1317;
  color: #fff;
}
.btn.btn-dark:hover {
  background: #192026;
}
.btn.btn-light {
  background-color: #fff;
  color: #0f1317;
}
.btn.btn-light:hover {
  background: #fff;
}
.btn.btn-success {
  background-color: #00a79a;
  color: #fff;
}
.btn.btn-success:hover {
  background: #00c1b2;
}
.btn.btn-danger {
  background-color: #e64444;
  color: #0f1317;
}
.btn.btn-danger:hover {
  background: #e95a5a;
}
.btn:hover {
  background: #374655;
  color: #fff;
}
.badge {
  font-size: 0.8rem;
  padding: 0.1rem;
  text-align: center;
  margin: 0.3rem;
  background: #fff;
  color: #333;
}
.badge.badge-primary {
  background-color: #00cdbb;
  color: #fff;
}
.badge.badge-dark {
  background-color: #0f1317;
  color: #fff;
}
.badge.badge-success {
  background-color: #00a79a;
  color: #fff;
}
.badge.badge-danger {
  background-color: #e64444;
  color: #0f1317;
}
.landing-subhead {
  text-align: center;
}
.form-group {
  margin: 1.2rem 0;
}
.form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}
.form input[type='text'],
.form input[type='email'],
.form input[type='password'],
.form input[type='text'],
.form input[type='date'],
.form select,
.form text-area {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}
@media (max-width: 700px) {
  .hide-sm {
    display: none;
  }

  .container {
    width: 100%;
    padding: 0 1rem;
    max-width: 1500px;
    margin-top: 5rem;
    line-height: auto;
    text-align: auto;
    margin-bottom: 5rem;
  }
  .landing {
    display: flex;
    flex-direction: column-reverse;
    height: 150vh;
  }
  .landing .highlight {
    margin-top: 1rem;
    padding: 0.5rem;
  }
  .home-card {
    width: 145px;
    height: 220px;
  }
  .home-card img {
    width: 140px;
  }
  .home-card .card-heading {
    height: 60px;
    overflow: hidden;
  }
  .landing-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
  }
  .x-large {
    font-size: 3rem;
  }
  .large {
    font-size: 2rem;
  }
  .lead {
    font-size: 1rem;
  }
  .small {
    font-size: 1.2rem;
  }
  .extra-small {
    font-size: 0.6rem;
  }
  .mob-image-slider {
    height: 150px;
  }
  .navbar ul {
    display: none;
  }
  .mobile-menu {
    background-color: #0d7e83;
    z-index: 99;
    position: relative;
    margin-top: 25rem;
    width: 100%;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    transition: all 0.3s;
  }
  .mobile-menu ul {
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 1rem;
  }
  .mobile-menu ul li {
    transition-delay: 0.2s;
  }
  .hamburger {
    display: block;
  }

  .dash-buttons a {
    display: block;
    width: 100%;
    margin-bottom: 0.2rem;
  }
  .bottom-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: linear-gradient(#00cdbb, #00a79a);
    position: fixed;
    bottom: 0;
    width: 100%;
    border-radius: 1rem 1rem 0rem 0rem;
    padding-bottom: 0.2rem;
    padding-top: 0.8rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
  }
  .bottom-nav .bottom-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .post {
    grid-template-columns: 1fr;
  }
  .post a,
  .post button {
    padding: 0.3rem 0.4rem;
  }
  .account {
    grid-template-columns: 1fr;
  }
  .job-top {
    display: flex;
    flex-direction: column;
  }
  .job-bottom {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .job-bottom .job-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  .mobileDb {
    text-align: center;
    justify-items: center;
  }
  .card-item {
    min-width: 200px;
  }
  .createMain {
    display: flex;
    flex-direction: column;
  }
  .blog-top {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .blog-top div {
    display: grid;
    grid-template-rows: 1fr 1fr;
  }
  .blog-top div a {
    margin: 0.5rem;
  }
  .blog-top div a:hover {
    color: #0f1317;
  }
  .footer-container {
    text-align: center;
  }
  .footer {
    display: block;
    padding: 2rem;
  }
  .first-row {
    display: inline-block;
  }
  .second-row li {
    display: inline-block;
  }
  .job-read .xyz {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
  .mat-container {
    display: flex;
    flex-direction: column;
    width: 92%;
  }
  .mat-author {
    padding: 1rem;
  }
  .new-pdf {
    display: block;
  }
  .mat-special {
    display: block;
    border: solid 1px #e64444;
    border-radius: 0.5rem;
    text-align: center;
    background-color: #e64444;
    color: #f8f8f8;
  }

  .position-top {
    display: block;
  }
  .edu-exp {
    display: grid;
    grid-template-columns: 1fr;
  }
  .profile {
    width: 100%;
  }
  .big-card {
    display: flex;
    flex-direction: column-reverse;
  }
  .landing {
    padding-top: 1rem;
  }
  .service-item {
    display: flex;
    flex-direction: column;
  }
  .service-item-1 {
    display: flex;
    flex-direction: column-reverse;
  }
  .admit-card {
    display: grid;
    grid-template-columns: 1fr;
  }
  .home-font {
    font-size: 0.7rem;
  }
}
